.page_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link {
    width: 90vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.back_button:hover {
    border: #00204E;
    background-color: #00204E;
    cursor: pointer;
    color: whitesmoke;
}

.streamer {
    color: rgb(233, 233, 233);
    font-size: 40px;
    margin-right: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    text-shadow: 3px 3px #00204E;
}

.stream_content {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px 0px;
}