.profile_page {
    display: flex;
    flex-direction: column;
    height: 100%
}

.profile_header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    margin-top: 1.5%;
}

.profile_header button {
    height: 4vh;
    border-radius: 5px;
}

.profile_header button:hover {
    cursor: pointer;
    background-color: lightgray;
}

.profile_user_information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 32%;
    margin-left: 10%;
}

.profile_pic {
    height: 90%;
    width: 70%;
    border-radius: 100%;
    margin-right: 7%;
}

.profile_username {
    margin: 0;
    font-size: 45px;
    width: 20vw;
}

.description_reviews_menu {
    border-bottom: 1px solid rgba(155, 155, 155, 0.699);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    color: rgb(235, 235, 235);
    width: 25%;
    height: 4.5vh;
    margin-left: 10%;
    margin-top: 3%;
}

.description_reviews_menu:hover {
    cursor: pointer;
}

.user_bio_section {
    background-color: rgb(100, 100, 100);
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px 0px;
    margin-bottom: 5%;
}

.user_bio {
    background-color: rgba(165, 165, 165, 0.678);
    width: 90%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 2%;
    color: rgba(31, 26, 26, 0.904);
}

.user_reviews_section {
    background-color: rgb(100, 100, 100);
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px 0px;
    margin-bottom: 5%;
}

.user_review_content_area {
    width: 85%;
    height: 45vh;
    margin: 2% 0% 2% 0%;
    background-color: rgba(65, 65, 65, 0.808);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: scroll;
}

.user_review_content_box_area {
    width: 90%;
    padding: 1%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    background-color: rgba(170, 170, 170, 0.699);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px 0px;
}

.top_of_review {
    display: flex;
    justify-content: space-between;
}

.edit_delete {
    margin-right: 1%;
    width: 4%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgba(0, 0, 0, 0.541);
}

.edit_delete i:hover {
    cursor: pointer;
}

.edit_review_section {
    display: flex;
    flex-direction: column;
    background-color: rgba(116, 116, 116, 0.856);
    width: 80%;
    align-self: center;
    margin: 1% 0 4% 0;
}

.edit_title {
    width: 15%;
    height: 4vh;
    border: none;
    border-radius: 2px;
    margin: 1% 0 1% 4%;
    padding-left: 1%;
}

.edit_text {
    width: 35%;
    margin: 1% 0 2% 4%;
    border: none;
    border-radius: 3px;
    padding-left: 1%;
}

.edit_review_section h3 {
    color: rgb(255, 255, 255);
    margin: 1% 0 0 4%;
}

.submit_edited_review {
    width: 10%;
    height: 4vh;
    border-radius: 3px;
    align-self: center;
    margin: 1% 0 2% 0;
}

.submit_edited_review:hover {
    cursor: pointer;
    border: none;
    background-color: rgb(190, 190, 190);
}