.review_landing_page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.reviews_landing_page_header {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    width: 85%;
}

.reviews_landing_page_title {
    margin: 0;
}

.review_back_button {
    height: 4vh;
    width: 6vw;
    border-radius: 5px;
}

.review_back_button:hover {
    cursor: pointer;
    background-color: lightgray;
}

.review_post_button {
    height: 4vh;
    width: 6vw;
    border-radius: 5px;
}

.review_post_button:hover {
    cursor: pointer;
    background-color: lightgray;
}

.review_content_area {
    width: 75%;
    height: 75%;
    margin-top: 2%;
    margin-bottom: 5%;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.profile_pic_and_post {
    display: flex;
}

.review_content_box {
    border: 1px solid rgba(202, 202, 202, 0.856);
    width: 80%;
    height: 25vh;
    margin-top: 2.5vh;
    background: rgba(187, 187, 187, 0.856);
    box-shadow: rgba(0, 0, 0, 0.18) 0px 5px 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2%;
}

.review_post_profile_pic {
    width: 10%;
    height: 10%;
    border-radius: 100%;
    margin: 0 0 0 5%;
}

.review_content_box_review {
    display: flex;
    flex-direction: column;
    margin-left: 4%;
    padding-right: 2%;
}

.review_title {
    margin: 0 0 2% 0;
    font-size: 25px;
    color: black;
}

.review_username {
    font-size: 18px;
    margin-bottom: 7%;
}

.review_juju {
    margin-left: 2.5vw;
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review_juju i:hover {
    cursor: pointer;
    color: rgb(255, 225, 58);
}

.review_juju i {
    font-size: 200%;
    color: rgb(29, 29, 29);
}