/* .about_content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.description {
    background: rgba(105, 105, 105, 0.863);
    width: 40%;
    height: 70vh;
    border-radius: 5px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 50px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px 0px;
} */

/* .text_description {
    color: rgb(223, 223, 223);
    width: 90%;
    font-size: 25px;
    padding: 20px;
    text-align: left;
    line-height: 34px;
} */

/* .text_description_middle {
    color: rgb(32, 32, 32);
    width: 90%;
    font-size: 25px;
    padding: 20px;
    text-align: left;
    line-height: 34px;
} */

/* .streams {
    width: 35%;
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 50px;
} */