.about_content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.description {
    background: rgb(99, 99, 99);
    width: 40%;
    height: 70vh;
    border-radius: 5px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 50px;
}

.text_description {
    color: whitesmoke;
    width: 90%;
    font-size: 25px;
    padding: 20px;
    text-align: left;
}

.streams {
    width: 35%;
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 50px;
}