.user_home_page {
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_home_content {
    background: #2b2b2bd7;
    height: 95%;
    width: 115vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap;
    flex-direction: row;
    align-self: center;
    justify-self: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px 0px;
}

.twitch_logo {
    height: 40vh;
    width: 25vw;
    border-radius: 10px;
    margin-left: 25px;
}

.mixer_logo {
    height: 40vh;
    width: 25vw;
    border-radius: 10px;
    margin-right: 25px;
}

.youtube_logo {
    height: 30vh;
    width: 55vw;
    border-radius: 10px;
}