.register_body {
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.register_body_content {
    display: flex;
    flex-direction: column;
    margin-top: 7.5vh;
}

.register_title {
    color: rgb(235, 223, 223);
}

form {
    color: rgb(235, 223, 223);
}