.login_body {
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_title {
    color: rgb(235,223,223);
}

form {
    color: rgb(235, 223, 223);
}

.error_msg {
    color: rgb(235, 223, 223);
}