.page_content_twitch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#9149fc, #515151)
}

.link {
    width: 90vw;
    height: 10vh;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.back_button_twitch {
    width: 6vw;
    height: 4vh;
    border-radius: 2px;
}

.back_button_twitch:hover {
    border: #c8a4ff;
    background-color: #b88cfc;
    cursor: pointer;
    color: whitesmoke;
}

.twitch_streamer_name {
    color: rgb(233, 233, 233);
    font-size: 40px;
    margin-right: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    text-shadow: 2px 2px #ae78ff;
}

.stream_content {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px 0px;
    margin-bottom: 10%;
}

.twitch_stream_video_frame {
    height: 550px;
    width: 780px;
}

.twitch_stream_chat_frame {
    height: 550px;
    width: 340px;
}

@media (max-width: 1100px) {
    .stream_content {
        display: flex;
        flex-direction: column;
    }

    .twitch_stream_video_frame {
        height: 500px;
    }

    .twitch_stream_chat_frame {
        width: 780px;
        height: 350px;
    }
}

@media (max-width: 900px) {
    .twitch_stream_video_frame {
        height: 400px;
        width: 600px;
    }

    .twitch_stream_chat_frame {
        height: 300px;
        width: 600px;
    }

    .back_button_twitch {
        width: 7vw;
    }
}

@media (max-width: 650px) {
    .twitch_stream_video_frame {
        height: 300px;
        width: 500px;
    }

    .twitch_stream_chat_frame {
        height: 200px;
        width: 500px;
    }

    .back_button_twitch {
        width: 10vw;
    }
}

@media (max-width: 530px) {
    .twitch_stream_video_frame {
        height: 300px;
        width: 400px;
    }

    .twitch_stream_chat_frame {
        height: 200px;
        width: 400px;
    }

    .back_button_twitch {
        width: 10vw;
    }
}

@media (max-width: 430px) {
    .twitch_stream_video_frame {
        height: 250px;
        width: 325px;
    }

    .twitch_stream_chat_frame {
        height: 200px;
        width: 325px;
    }

    .back_button_twitch {
        width: 15vw;
    }
}