.twitch_user_landing_page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #9149fc;
}

.following {
    margin: 0;
    height: 10vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardSection {
    background: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px 0px;
    margin-bottom: 10vh;
}

.Following_card {
    width: 50vw;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #212026;
    background-color: #212026;
    padding-left: 5vw;
}

.Following_card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.527);
    border: rgba(0, 0, 0, 0.52);
}

.followed_streamer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D3D3D4;
}