.page_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#9149fc, #515151)
}

.link {
    width: 90vw;
    height: 10vh;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.back_button_twitch {
    width: 6vw;
    height: 4vh;
    border-radius: 2px;
}

.back_button_twitch:hover {
    border: #c8a4ff;
    background-color: #b88cfc;
    cursor: pointer;
    color: whitesmoke;
}

.twitch_streamer_name {
    color: rgb(233, 233, 233);
    font-size: 40px;
    margin-right: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    text-shadow: 2px 2px #ae78ff;
}

.stream_content {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px 0px;
}