.navBar {
    background-color: #111111;
    height: 12vh;
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 5px 0px;
}

.title {
    color: whitesmoke;
}

ul {
    width: 25vw;
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
    font-size: 18px;
}

li {
    color: whitesmoke;
}

li:hover {
    color: rgb(251, 255, 0);
}